<template name="order">
    <div data-wow-duration="0.25s" class="ui grid">
        <div class="one wide column">
            <div class="ui fitted checkbox active">
                <input type="checkbox" data-id="{{_id}}">
                <label></label>
            </div>
        </div>
        <div class="fifteen wide column">
            <div class="ui raised segment">
                <div class="ui grid">
                    <div class="one wide column">
                        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                    </div>
                    <div class="three wide column">
                        <div><strong>{{name}}</strong></div>
                        Segment Name
                    </div>
                    <div class="two wide column">
                        <strong><small>
                            Доставка подтверждена в
                            <time datetime="{{statusDate}}">{{moment statusDate format="HH:mm"}}</time>
                        </small></strong>
                    </div>
                    <div class="two wide column">
                        {{summ}} ₽
                    </div>
                    <div class="two wide column">
                        {{town}}
                    </div>
                    <div class="two wide column">
                        {{shop}}
                    </div>
                    <div class="four wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="action">
                            <i class="dropdown icon"></i>
                            <div class="default text">Действие</div>
                            <div class="menu">
                                <div class="item" data-value="viber">Viber</div>
                                <div class="item" data-value="phone">Телефон</div>
                                <div class="item" data-value="manual">Вручную</div>
                                <div class="item" data-value="cancel">Отмена заказа</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>