#segmentsDropdown {
    .selectedItem {
        .ui.button {
            display: none;
        }
    }
    .item {
        padding: 0 !important;
        padding-right: calc( 8px ) !important;

        &[data-value=""] {
            .ui.button {
                display: none;
            }
        }


        &.edit {
            .item-label, .ui.button {
                display: none;
            }
            .item-edit {
                display: block;
            }
        }

        .item-label, .item-edit {
            padding: 1em 1.5em !important;
        }

        .item-edit {
            display: none;
            margin: 0 !important;
            box-sizing: border-box;
            width: 100%;
            border: 0;
            outline: 0 !important;
            border-bottom: 1px solid #2196f3;
            background: rgba(0, 0, 0, 0);
            color: #2196f3;
            line-height: 0.4;
            padding-top: 0.8em !important;
            padding-bottom: 0.84em !important;
        }

        .ui.button {
            margin-top: .4em !important;
        }
    }
}