<template name="segmentsDropdown">
    <div class="ui container fluid" id="segmentsDropdown">
        <div class="ui dropdown button fluid blue">
            <input type="hidden" name="filters">
            <div class="selectedItem text">Сегменты</div>
            <div class="menu" tabindex="-1">
                {{> segmentItem label="Все" value=""}}
                <div class="scrolling menu">
                    {{#each segments}}
                        {{> segmentItem label=name value=_id}}
                    {{/each}}
                </div>
                <div class="header">
                    <div class="ui grid">
                        <div class="seven wide column">
                            <button class="ui button fluid primary">Добавить</button>
                        </div>
                        <div class="nine wide column">
                            <button class="ui button fluid primary">Редактировать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="segmentItem">
    <div class="item">
        <div class="ui mini circular right floated circular icon button edit">
            <i class="small write icon"></i>
        </div>
        <div class="ui mini circular right floated circular icon button remove">
            <i class="small remove icon"></i>
        </div>
        <div class="item-label">{{label}}</div>
        <input type="text" class="item-edit" value="{{label}}" />
    </div>

</template>