<template name="contactsPage">
    <h1 class="ui header">Contacts Page</h1>
    {{#if collectionReady}}
        <div class="ui list">
            {{#each contacts}}
                {{> contact}}
            {{else}}
                <div class="ui info message">
                    <div class="text">
                        Contacts not found
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="ui active centered inline loader"></div>
    {{/if}}
</template>

<template name="contact">
    <li></li>
    <div class="item">
        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        <div class="content">
            <a class="header">contact: {{_id}}</a>
            <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
        </div>
    </div>
</template>