<template name="ordersPage">
    <div class="ui grid">
        <div class="twelve wide column">
            <h1 class="ui header">{{pageTitle}}</h1>
        </div>
        <div class="four wide column">
            <button class="fluid ui right floated primary button">
                Создать заказ
            </button>
        </div>
    </div>
    <div class="ui grid">
        <div class="one wide column">
            <div class="ui fitted checkbox">
                <input type="checkbox" id="select_all_checkboxes" checked>
                <label></label>
            </div>
        </div>
        <div class="four wide column">
            {{> segmentsDropdown}}
        </div>
        <div class="three wide column">
            <div class="fluid ui blue buttons">
            <div class="fluid ui button">Фильтр</div>
            <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">
                <div class="item"><i class="edit icon"></i> Edit Post</div>
                <div class="item"><i class="delete icon"></i> Remove Post</div>
                <div class="item"><i class="hide icon"></i> Hide Post</div>
                </div>
            </div>
            </div>
        </div>
        <div class="four wide column">
            {{#if selectedOrders}}
                <div class="fluid ui buttons">
                <div class="fluid ui button">Изменить сегмент</div>
                <div class="ui floating dropdown icon button">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                    <div class="item"><i class="edit icon"></i> Edit Post</div>
                    <div class="item"><i class="delete icon"></i> Remove Post</div>
                    <div class="item"><i class="hide icon"></i> Hide Post</div>
                    </div>
                </div>
                </div>
            {{/if}}
        </div>
    </div>

    <div id="orders-container">
        {{#each orders}}
            {{> order}}
        {{else}}
            <p></p>
            <div class="ui info message">
                <p></p>
                <div class="text">
                    Orders not found
                </div>
            </div>
        {{/each}}
    </div>
    {{#unless collectionReady}}
        <p></p>
        <div class="ui active centered inline loader"></div>
        <p></p>
    {{/unless}}

</template>