<template name="dashboard">

<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header"><a href="/orders">Заказы</a></div>
      <div class="description">Всего: {{ordersCount}}</div>
    </div>
    <div class="ui bottom attached button"><i class="add icon"></i> Добавить заказ</div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header"><a href="/mailings">Рассылки</a></div>
      <div class="description">Всего: 12</div>
    </div>
    <div class="ui bottom attached button"><i class="add icon"></i> Добавить рассылку</div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header"><a href="/contacts">Контакты</a></div>
      <div class="description">Всего: 45</div>
    </div>
    <div class="ui bottom attached button"><i class="add icon"></i> Добавить контакт</div>
  </div>
</div>

</template>
