<template name="header">

  <div class="ui top fixed blue inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        {{> logo style="width: 2rem; height: 2rem; display: inline-flex; vertical-align: middle; margin-right: 1rem;"}}
        Flomni Orders
      </a>
      <a href="/orders" class="item">Заказы</a>
      <a href="/mailings" class="item">Рассылки</a>
      <a href="/contacts" class="item">Контакты</a>
    </div>
  </div>

</template>
